.todoItem {
  display: flex;
  justify-content: space-between;
}
.delete-button {
  color: white;
  background-color: orange;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
  text-decoration: none  !important;
}
.delete-button:hover{
    background-color: red;
}

.line > .content {
  text-decoration: line-through;
  color: red;
}
.noLine > .content {
  text-decoration: none;
}